.tags {
    background-color: gray;
    color: white;
    height: auto;
    padding: 3px;
}

.postContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2px;
}

.craftContainer {
    flex-direction: wrap;
    flex-basis: 33%;
    margin: 6px;
}